#!/usr/bin/env bash

# Set envars
export DEBUG=true
export WHISKEYENGINE_RUNLOCAL=true
export AWS_ACCESS_KEY_ID=''
export AWS_SECRET_ACCESS_KEY=''
export AWS_STORAGE_BUCKET_NAME=''
export DJANGO_SECRET_KEY=''
export AXILENT_API_KEY=''

# Run
./manage.py $1 $2 $3

