<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{% block title %}Whiskey Engine{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/star-rating/jquery.rating.css" />
	<link rel="stylesheet" href="{{ STATIC_URL }}js/jquery-ui-1.8.13.custom/css/pepper-grinder/jquery-ui-1.8.13.custom.css" />
    {% block extra_head %}{% endblock %}
	<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body id="{% block body_id %}{% endblock %}">
{% block header %}
<!-- Begin Header Holder-->
<div id="header-holder">
	<!-- Begin Shell -->
	<div class="shell">
		<!-- Begin Header -->
		<div id="header">
			<div id="top-header">
				<div class="cl">&nbsp;</div>
				<div id="top-nav">
					<ul>

					</ul>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
			<div id="bottom-header">
				<div class="cl">&nbsp;</div>
				<h1 id="logo"><a href="/" class="no-text">whiskey engine</a></h1>
				<div id="navigation">
					<ul>
					    <li><a href="/">Home</a></li>
						<li><a href="/about-whiskeyengine/">About Whiskey Engine</a></li>
						{# 					    <li class="last"><a href="/about-whiskey/">About American Whiskey</a></li> #}
					</ul>
				</div>
				<div class="cl">&nbsp;</div>
			</div>
		</div>
		<!-- End Header -->
	</div>
	<!-- End Shell -->
</div>
<!-- End Header -->
{% endblock %}
{% block main %}
{% endblock %}
{% block bottom %}
{% endblock %}
{% block footer %}
<!-- Begin Footer Holder -->
<div id="footer-holder" class="cf">
	<!-- Begin Shell -->
	<div class="shell">
		<!-- Begin Footer -->
		<div id="footer">
			<p>
				<a href="/about-whiskeyengine/">About Whiskey Engine</a>{# <span>|</span>  #}
				{# 				<a href="/terms/">Terms of Use</a><span>|</span> #}
				{# 				<a href="/privacy/">Privacy Policy</a> #}
			</p>
			<p>Whiskey Engine promotes the responsible and legal consumption of alcoholic beverages.</p>
			<p>Copyright &copy; 2015 Whiskey Engine</p><br/>
			<p><a href="http://www.axilent.com"><img src="{{ STATIC_URL }}css/images/powered.png"></a></p>
		</div>
		<!-- End Footer -->
	</div>
	<!-- End Shell -->
</div>
<!-- End Footer Holder -->
{% endblock %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.form.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.MetaData.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/star-rating/jquery.rating.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.13.custom/js/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/whiskey.js"></script>
{% block body_scripts %}
	{# body scripts go here #}
{% endblock %}
</body>
</html>
