* { padding: 0; margin: 0; outline: 0; }



body { 

	font-family: "Luxi Serif", Georgia, serif;

	font-size: 12px;

	line-height: 21px;

	color: #000;

	text-align: left;

	background: #712606;

}



input, select, textarea { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }

textarea { overflow: hidden; } 



a { color: #000; text-decoration: none; cursor: pointer; }

a:hover { text-decoration: underline; }

a img { border: 0; }



.cl { font-size: 0; line-height: 0; text-indent: -4000px; clear: both; height: 0; }



.ar { text-align: right; display: block; }

.al { text-align: left; display: block; }

.ac { text-align: center; display: block; }



.left, .alignleft { float: left; display: inline; }

.right, .alignright { float: right; display: inline; }



.no-text { font-size: 0; line-height: 0; text-indent: -4000px; }



.shell { width: 960px; margin: 0 auto; }



h2 { font-size: 24px; line-height: 28px; }

h3 { font-size: 18px; line-height: 22px; }

h4 { font-size: 14px; line-height: 18px;
	font-weight: bold;
}

h5 { font-size: 12px; line-height: 18px; }



#header-holder,

#header-holder .shell { background: url(/static/css/images/header-bg.gif) repeat-x 0 0; height: 103px; }



#top-header { height: 33px; padding: 0 10px 0 20px; }



#top-nav { height: 30px; float: left; display: inline;	}

#top-nav ul { list-style-type: none; }

#top-nav ul li { float: left; display: inline; padding-top: 7px; padding-right: 15px; }

#top-nav ul li { float: left; display: inline; padding-top: 7px; padding-right: 15px; color: #fefefe; line-height: 14px;}

#top-nav ul li a { float: left; color: #fefefe; line-height: 14px; }



#search-form { float: right; display: inline; width: 195px; padding-top: 5px; }

#search-form input { float: left; display: inline; }

#search-form .field { border: 0; background: url(/static/css/images/search-field.gif) no-repeat 0 0; width: 135px; padding: 3px 5px; height: 16px;	}

#search-form .search-btn { background-image: url(/static/css/images/search-btn.gif); width: 46px; height: 21px; }



.button { border: 0; background-repeat: no-repeat; background-position: 0 0; cursor: pointer; }



#bottom-header { padding: 9px 10px 0; }



h1#logo { width: 428px; float: left; display: inline; position: relative; margin-bottom: -4px; }

h1#logo a { display: block; background: url(/static/css/images/logo.gif); height: 65px; }



#navigation { float: right; display: inline; padding-top: 30px; }

#navigation ul { list-style-type: none; float: right; display: inline; }

#navigation ul li { float: left; display: inline; padding-right: 35px; }

#navigation ul li.last { padding-right: 0; }

#navigation ul li a { float: left; font-family: "Lucida Grande", "Trebuchet MS", sans-serif; background: url(/static/css/images/nav-bg.gif) repeat-x 0 -200px; line-height: 30px; }

#navigation ul li a:hover,

#navigation ul li a.active { background-position: 0 bottom; text-decoration: none; }



#main-holder,

#main-holder .shell { background: #fff; }



#main { padding: 30px 10px 0 20px;

}



#content { width: 720px; float: left; display: inline; }

.home-content { width: 660px !important; }

#search-results .home-content{ width: 800px !important; }



.post { padding-bottom: 50px; }



.post-left-side { float: left; display: inline; padding: 5px 30px 0 0;}



/*.post-img { padding-bottom: 10px; }*/

.post-img img { display: block; border-top: 1px solid #080808; border-right: 1px solid #262626; border-bottom: 1px solid #666666; border-left: 1px solid #171717; }



.raiting-row {  }

.raiting-row p { text-align: center; padding: 3px 0; line-height: 1; }



.post-cnt { float: left; display: inline; width: 410px; padding-top: 10px; }

#search-results .post-cnt{ width: 500px; }

.post-cnt h2 { background: url(/static/css/images/title-bg.gif) no-repeat right -200px; display: inline-block; padding-right: 40px; margin-bottom: 5px; *display: inline; *zoom: 1; }

.post-cnt h2.graphic-bg { background-position: right center; }

.post-cnt h3 { font-weight: normal; }



.post-entry { padding-top: 10px; }

.post-entry p { text-indent: 20px; padding-bottom: 15px; }



#recommended-box { width: 240px; float: right; display: inline; background: url(/static/css/images/recommended-cnt.gif) repeat-y 0 0; height: 100%; position: relative; }

#recommended-box-arrow { background: url(/static/css/images/recommended-arrow.gif) no-repeat 0 0; position: absolute; width: 261px; height: 42px; left: -21px; top: 45%; z-index: 1; }

#recommended-box-top { width: 240px; background: url(/static/css/images/recommended-top.gif) no-repeat 0 0; position: relative; z-index: 2; }

#recommended-box-bottom { background: url(/static/css/images/recommended-bottom.gif) no-repeat 0 bottom; padding: 23px 20px 25px 21px; text-align: center;

}

#recommended-box-bottom h4 { padding-bottom: 10px; }



.recent-recommended { background: url(/static/css/images/recent-recommended.gif) no-repeat center 0; padding-top: 15px; text-align: center; font-size: 14px; line-height: 24px; color: #495e71; }



.pour-btn { font-size: 0; line-height: 0; text-indent: -4000px;display: block; background: url(/static/css/images/pour-btn.gif) no-repeat 0 0; width: 197px; height: 94px; margin-bottom: 25px; }



#bottom-holder,

#bottom-holder .shell { background: #ede0d7 url(/static/css/images/bottom-bg.gif) repeat-x 0 0; }

#bottom-holder .shell { padding: 20px 0 50px 0; }



#main-bottom { position: relative; padding: 0 0 0 18px; margin-bottom: -20px; }



ul.recently-rated-list { list-style-type: none; padding-top: 10px; }

ul.recently-rated-list li { float: left; display: inline; text-align: center; padding: 0 55px 20px 0; width: 100px; margin-right: 30px; }

ul.recently-rated-list li .recently-rated-img {  }

ul.recently-rated-list li .recently-rated-img img { background: url(/static/css/images/img-bg.gif) no-repeat 0 0; padding: 2px;  }

ul.recently-rated-list li h4 { font-size: 12px; }



.bottom-content { }



.recently-rated-raiting p { padding-bottom: 5px; }

.recently-rated-raiting p { padding-bottom: 5px; }



.bottom-sidebar { float: right; display: inline; width: 237px; padding-right: 10px; }

.bottom-sidebar h4 { background: url(/static/css/images/bottom-graphic.gif) no-repeat 0 5px; padding-left: 40px; }



ul.recently-reviewed { padding-top: 10px; list-style-type: none; }

ul.recently-reviewed li { margin-bottom: 10px; height: 100%; }

ul.recently-reviewed li h4 { padding-bottom: 2px }

ul.recently-reviewed li p { padding-bottom: 0; }



.reviewed-img { float: left; display: inline; padding-right: 10px; height: 100%; }

.reviewed-img img { display: block; background: url(/static/css/images/bottom-sidebar-img-bg.gif) no-repeat 0 0; padding: 1px; }



#footer-holder,

#footer-holder .shell { position: relative; clear: both; background: #712606; height: 90px; } 



#footer { padding: 15px 0 0 10px; font-family: "Lucida Grande", "Trebuchet MS", sans-serif; font-size: 11px; line-height: 18px; color: #e5d2c4; }

#footer p { padding-bottom: 0; }

#footer p span { padding-left: 5px; }

#footer p a { color: #e5d2c4; line-height: 18px;}



.post-raiting .raiting-stars { float: left; display: inline; padding: 0 20px 0 50px; }

.post-raiting h2 a { font-size: 12px; color: #454545;  }



#silver-box { width: 170px; float: right; display: inline; background: url(/static/css/images/silver-box-cnt.gif) repeat-y 0 0; margin-bottom: 20px; }

#silver-box-top { background: url(/static/css/images/silver-box-top.gif) no-repeat 0 0; width: 170px; }

#silver-box-bottom { background: url(/static/css/images/silver-box-bottom.gif) no-repeat 0 bottom; padding: 30px 13px 15px; text-align: center; }



a.blue-btn { display: block; background: url(/static/css/images/blue-btn.gif) no-repeat 0 0; width: 143px; height: 22px; margin: 10px  auto; font-family: Georgia, serif; line-height: 22px; color: #fff; font-weight: bold; }

a.blue-btn:hover { text-decoration: none; }



.people-likes { padding-left: 2px; }

.people-likes p { background: url(/static/css/images/people-stats-bg.gif) no-repeat 0 0; margin-bottom: 12px; width: 134px; }



.proposal-box { padding-bottom: 15px; }

.proposal-box h4 { background: url(/static/css/images/graphics.gif) no-repeat 0 8px; color: #585858; padding-bottom: 10px; }

.proposal-box h4 span { font-size: 12px; display: block; color: #585858; font-weight: normal; }

.proposal-box h5,

.proposal-box h5 a { color: #3b3b3b; }



.post-comments {  }



ul.comments-list { list-style-type: none; padding: 16px 5px 15px; }

ul.comments-list li { padding-bottom: 10px; }



ul.comments-list li .comment-cnt { width: 950px; background: url(/static/css/images/odd-cnt.gif) repeat-y 0 0; height: 100%;  }

ul.comments-list li .comment-top { width: 950px; background: url(/static/css/images/odd-top.gif) no-repeat 0 0; }

ul.comments-list li .comment-bottom { background: url(/static/css/images/odd-bottom.gif) no-repeat 0 bottom; padding: 10px 20px 20px 20px; }



ul.comments-list li .even-comment { background-image: url(/static/css/images/even-cnt.gif) !important; }

ul.comments-list li .even-comment .comment-top { background-image: url(/static/css/images/even-top.gif) !important; }

ul.comments-list li .even-comment .comment-bottom { background-image: url(/static/css/images/even-bottom.gif) !important; }



ul.comments-list li .comment-user { float: left; display: inline; width: 210px; text-align: right; }



ul.comments-list li .user-info h3 { font-weight: normal; }

ul.comments-list li .user-info p { font-size: 14px; }



ul.comments-list li .user-avatar { float: right; display: inline; padding-left: 15px; }

ul.comments-list li .user-avatar img { display: block; background: url(/static/css/images/avatar-bg.gif) no-repeat 0 0; padding: 3px; }



ul.comments-list li .opinion-btns { padding-top: 15px; }

.opinion-btns a { float: right; display: inline; background: url(/static/css/images/opinion-btn.gif) no-repeat 0 0; font-family: "Lucida Grande", "Trebuchet MS", sans-serif; font-size: 10px; line-height: 17px; width: 54px; text-align: center; color: #fff; margin-left: 3px; }

a:hover { text-decoration: none; }



ul.comments-list li .comment-content { width: 665px; float: right; display: inline; font-family: Georgia, sans-serif; }



.leave-comment-box { background: url(/static/css/images/leave-review-bg.gif) no-repeat 0 0; float: right; display: inline; width: 616px; height: 209px; margin-right: 5px; padding: 20px 39px 20px 34px; }

.leave-comment-box h5 { padding-bottom: 5px; }

.leave-comment-box h5 a { margin-left: 10px; }



.comment-bg { background: url(/static/css/images/comment-bg.gif) no-repeat 0 0; width: 604px; height: 133px; border: 0; display: block; padding: 5px 6px; margin-bottom: 10px; }

.comment-bg textarea { border: 0; background: transparent; width: 604px; height: 133px; overflow: auto; }



.submit-btn { border: 0; background: url(/static/css/images/submit.gif) no-repeat 0 0; width: 94px; height: 30px; float: right; display: inline; margin-right: 13px; font-size: 0; line-height: 0; text-indent: -4000px; cursor: pointer; }



ul.category-list { list-style-type: none; padding-bottom: 25px; }

ul.category-list li { border-bottom: 1px solid #e5d2c4; padding: 25px 0; }

ul.category-list li.last { border-bottom: 0; }

ul.category-list li .item-img { float: left; display: inline; padding: 5px 20px 0 0; height: 100%; }

ul.category-list li .item-img img { display: block; background: url(/static/css/images/item-img-bg.gif) no-repeat 0 0; padding: 2px; }

ul.category-list li .top-row { padding-bottom: 10px; }

ul.category-list li .top-row p { float: right; display: inline; }

ul.category-list li .top-row p a { margin-right: 5px; }

ul.category-list li .info-cnt { font-weight: bold; }



.top-row p a img {vertical-align: top;  }



#most-reviewed-side { width: 170px; float: right; display: inline; padding-top: 50px; }

#most-reviewed-side h4 { background: url(/static/css/images/graphic.gif) no-repeat 0 5px; padding-left: 40px; }

#most-reviewed-side ul { padding-top: 15px; list-style-type: none; }

#most-reviewed-side ul li { padding-bottom: 10px;  height: 100%; }



.profile-avatar { float: left; display: inline; width: 110px; }

.profile-avatar img { display: block; background: url(/static/css/images/profile-avatar-bg.gif) no-repeat 0 0; padding: 3px; }

.profile-avatar img { display: block; }



#profile-page .post-cnt { float: left; display: inline; width: 605px; }

#profile-page .post-cnt .post-entry { padding-top: 30px; }



.profile-lists { background: url(/static/css/images/bottom-border.gif) repeat-y 295px 0; height: 100%; }

.profile-lists .last { margin-right: 0 !important; margin-left: 10px; }

.profile-lists .profile-col { float: left; display: inline; width: 290px; margin-right: 10px; }

.profile-lists .profile-col ul { list-style-type: none; padding-top: 10px; }

.profile-lists .profile-col ul li { float: left; display: inline; width: 145px; padding-bottom: 10px;}

.profile-lists .profile-col ul li a { float: left; display: inline; font-size: 14px; line-height: 22px; background-repeat: no-repeat; background-position: 0 0; padding-left: 3px; }

.profile-lists .profile-col ul li a:hover { text-decoration: none; }

.profile-lists .profile-col ul li a span { float: left; display: inline; background-repeat: no-repeat; background-position: right 0; padding: 0 5px 0 2px; }

.profile-lists .profile-col ul.shelf-list li a { background-image: url(/static/css/images/silver-left.gif); }

.profile-lists .profile-col ul.shelf-list li a span { background-color: #dbdbdd; background-image: url(/static/css/images/silver-right.gif); }

.profile-lists .profile-col ul.wishlist li a { background-image: url(/static/css/images/brown-left.gif); }

.profile-lists .profile-col ul.wishlist li a span { background-color: #e5d2c4; background-image: url(/static/css/images/brown-right.gif); }



.profile-reviews { padding-top: 20px; }

.profile-reviews h3 { border-bottom: 1px solid #767676; padding-bottom: 5px; }

.profile-reviews ul { padding-top: 13px; list-style-type: none; }

.profile-reviews ul li { padding-bottom: 10px; }



.review-cnt { background: url(/static/css/images/review-cnt.gif) repeat-y 0 0; width: 601px; height: 100%; }

.review-top { background: url(/static/css/images/review-top.gif) no-repeat 0 0; width: 601px; }

.review-bottom { background: url(/static/css/images/review-bottom.gif) no-repeat 0 bottom; padding: 10px 12px 5px 40px; }

.review-bottom .review-info { }

.review-bottom .review-info h3 { float: left; display: inline; border-bottom: 0; margin-right: 10px; }

.review-bottom .review-info h3 a { text-decoration: underline; }

.review-bottom .review-info h3 a:hover { text-decoration: none; }

.review-bottom .review-info p { font-size: 14px; padding-top: 2px; }

.review-bottom .review-info p a { margin-left: 10px; }



.review-bottom .review-body { font-family: Georgia, serif; }





table { padding-top: 7px; }

th, td { padding-top: 8px; padding-right: 10px; }

th { vertical-align: text-top; text-align: right; }

input.submit { margin-top: 8px; margin-bottom: 20px; }

#profile-pic { float: left; }

td.center { text-align: center; }



.we-btn { text-align: center; font-size: 16px; }

.blue-btn { border: 0; display: inline; background: url(/static/css/images/blue-btn.gif) no-repeat 0 0; width: 143px;  margin: 10px 0; font-family: Georgia, serif; line-height: 22px; color: #fff; font-weight: bold; }

input.blue-btn { height: 22px; }

.rev-date { margin-left: 50px; }

p.short { line-height: 14px; }



#shelve-input { margin-bottom: 5px; }

#wishlist-input { margin-top: 5px; }

a.standard { text-decoration: underline; }



div.star-rating, div.rating-cancel { width: auto !important; }



div#main-search {

	background-color:#EDE0D7;

	width: 650px;

	margin-bottom: 30px;

	padding: 10px;

	text-align: center;

	font-size: 18px;

	font-weight: bold;

}



.btn-search{

	border: 0;

	font-size: 14px;

	padding: 6px 9px;

	border: 1px solid #9A918B;

	-moz-border-radius: 3px;

	-webkit-border-radius: 3px;

	border-radius: 3px;

	color: #333;

	vertical-align: middle;

	background: #FFF;

	cursor: pointer;

	_cursor: hand;



	background: rgb(255,255,255); /* Old browsers */

	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera11.10+ */

	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */



}



.btn-search:hover{

	background: rgb(242,242,242); /* Old browsers */

	background: -moz-linear-gradient(top, rgba(242,242,242,1) 0%, rgba(224,224,224,1) 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(242,242,242,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%); /* Opera11.10+ */

	background: -ms-linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%); /* IE10+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

	background: linear-gradient(top, rgba(242,242,242,1) 0%,rgba(224,224,224,1) 100%); /* W3C */

}



div#main-search input.search {

	width: 300px;

	height: 20px;

	margin: 10px;

	border: 1px solid #712606;

	font-size: 18px;

	padding: 5px;

}



div.taste_slider {

	height: 75px;

	margin-right: auto;

	margin-left: auto;

}



div#review_dialog {

	display:none;

}



textarea#review-text {

	width: 500px;

	height: 150px;

}



/* ---- Recent Rated ----- */

.recent-rated h3{

	margin: 10px 0;

}

.whiskey-metrics {
	background-color:#EDE0D7;
	width: 35%;
	padding: 5px;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
