{% extends "base.html" %}

{% block main %}
<!-- Begin Main Holder  -->
<div id="main-holder">
	<!-- Begin Shell -->
	<div class="shell">
		<!-- Begin Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			<!-- Begin Content -->
			<div id="content" class="home-content">
                <h2>Thanks very much!</h2>
                <p>We want to thank you very much for your feedback.  Our team of whiskey experts will respond as soon as we can.</p>
                <p>Many Kind Regards,<p>
                <p>---The Whiskey Engine Staff</p>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

			</div>
			<!-- End Content -->
			<!-- Begin Sidebar -->
			<div id="most-reviewed-side">
			</div>
			<!-- End Sidebar -->
			<div class="cl">&nbsp;</div>
		</div>
		<!-- End Main -->
	</div>
	<!-- End Shell -->
</div>
<!-- End Main Holder -->
{% endblock %}
{% block bottom %}
    
{% endblock %}
