<div class="recent-rated">
	<h3>Similar to {{ base_whiskey.data.name }}</h3>
    <ul class="recently-rated-list cf">
        {% for whiskey in related %}
	    <li>
	    	<div class="recently-rated-img">
	    		<a class="recommended-link" whiskey_id="{{ whiskey.pk }}" href="/whiskey/{{ whiskey.slug }}/"><img width="100" height="150" src="{{ whiskey.thumb }}" alt="" /></a>
	    	</div>
	    	<div class="recently-rated-raiting">
	    		<h4><a class="recommended-link" whiskey_id="{{ whiskey.pk }}" href="/whiskey/{{ whiskey.slug }}/ ">{{ whiskey.name }}</a></h4>
	    	</div>
	    </li>
        {% endfor %}
	</ul>
</div>
